<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>controller.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>controller.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllAccountsServlet</servlet-name>
        <servlet-class>controller.ListAllAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUpdateAccountServlet</servlet-name>
        <servlet-class>controller.LoadUpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllProductsServlet</servlet-name>
        <servlet-class>controller.ListAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewAccountServlet</servlet-name>
        <servlet-class>controller.AddNewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllCategoriesServlet</servlet-name>
        <servlet-class>controller.ListAllCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>controller.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <servlet-class>controller.SearchCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCategoryServlet</servlet-name>
        <servlet-class>controller.AddNewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoLoginServlet</servlet-name>
        <servlet-class>controller.AutoLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductByCategoryServlet</servlet-name>
        <servlet-class>controller.FilterProductByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUpdateCategoryServlet</servlet-name>
        <servlet-class>controller.LoadUpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>controller.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductUsingNameServlet</servlet-name>
        <servlet-class>controller.SearchProductUsingNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <servlet-class>controller.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllAccountsServlet</servlet-name>
        <url-pattern>/ListAllAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUpdateAccountServlet</servlet-name>
        <url-pattern>/LoadUpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllProductsServlet</servlet-name>
        <url-pattern>/ListAllProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewAccountServlet</servlet-name>
        <url-pattern>/AddNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllCategoriesServlet</servlet-name>
        <url-pattern>/ListAllCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <url-pattern>/SearchCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCategoryServlet</servlet-name>
        <url-pattern>/AddNewCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoLoginServlet</servlet-name>
        <url-pattern>/AutoLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductByCategoryServlet</servlet-name>
        <url-pattern>/FilterProductByCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUpdateCategoryServlet</servlet-name>
        <url-pattern>/LoadUpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductUsingNameServlet</servlet-name>
        <url-pattern>/SearchProductUsingNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <url-pattern>/RegisterAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
</web-app>
